---
const projects = await Astro.glob("../projects/*.md");

import projectPlaceholder from "/images/project-placeholder.jpg";

import Card from "./CardOld.astro";
---

<!-- My Work -->
<section class="my-work" id="work">
  <h2 class="section__title section__title--work">My work</h2>
  <p class="section__subtitle section__subtitle--work">Checkout my stores</p>
  <div class="portfolio">
    {
      projects.map((project) => (
        <Card
          title={project.frontmatter.title}
          link={`/projects/${project.frontmatter.slug}`}
          imageSquare={project.frontmatter.imageSquare}
          badge={project.frontmatter.badge}
        />
      ))
    }
    <!-- Empty Project -->
    <a class="portfolio__item">
      <img src={projectPlaceholder} alt="" class="portfolio__img" />
      <p class="portfolio__title">Next Project - Under Construction</p>
    </a>
  </div>
</section>
