---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import CopyToClipboardBtn from "../../components/CopyToClipboardBtn.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");

  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"project">;
};

const { project } = Astro.props as Props;
const {
  order,
  title,
  mainTech,
  image = "/images/project-placeholder.jpg",
  tags,
  type,
  link,
  passwordProtected,
  storePassword,
  githubLink,
  shortIntro,
} = project.data;
---

<Layout title="Drew's Portfolio">
  <div class="wrap">
    <div class="list-post">
      <p class="list-title">{title}</p>
      <div class="list-img">
        <a href={link}><img src={image} alt={`Project: ${title}`} /></a>
      </div>
      <div class="list-details">
        <div class="list-summary">
          <Fragment set:html={shortIntro} />
          <div>
            <div
              class="tag-list"
              style=`${
            passwordProtected ? "" : "margin-bottom: 20px"
          }`
            >
              {
                tags &&
                  tags.map((tag) => (
                    <span
                      class="tag"
                      style={`background-color: var(--tags-${tag}, transparent);`}
                    >
                      {tag}
                    </span>
                  ))
              }
            </div>
          </div>

          {
            passwordProtected && (
              <div class="copy-to-clipboard">
                <CopyToClipboardBtn {storePassword} />
              </div>
            )
          }

          <ul class="utility-list">
            <a href={link} class="btn" target="_blank"
              >View {type}
              <i class="fa-solid fa-arrow-up-right-from-square"></i></a
            >
            {
              githubLink.length > 0 && (
                <a href={githubLink} class="btn" target="_blank">
                  {type} Preview{" "}
                  <i class="fa-solid fa-arrow-up-right-from-square" />
                </a>
              )
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* -------------- */
    /* General        */
    /* -------------- */
    * {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1.25em;
      line-height: 1.5em;
    }

    /* -------------- */
    /* Page          */
    /* -------------- */

    /* div class="wrap" */
    .wrap {
      width: 960px;
      margin: 2rem auto 0;
      overflow: hidden;
    }

    @media (max-width: 959px) {
      .wrap {
        width: auto;
        margin: 1.5rem 10px 0;
      }
    }

    /* div class="list-post" */
    .list-post {
      box-shadow: 0 3px 4px #00000024, 0 3px 3px -2px #0003, 0 1px 8px #0000001f;
      margin: 30px 5px;
      padding: 20px;
      color: var(--clr-dark);
    }

    @media (max-width: 959px) {
      .list-post {
        box-shadow: none;
        border: 1px solid #ddd;
        margin: 10px 10px 40px;
      }
    }

    .list-post:first-of-type {
      margin-top: 10px;
    }

    /* p class="list-title" */
    .list-post .list-title {
      background-color: var(--clr-accent);
      margin: -20px -20px 0;
      padding: 10px 20px;
    }

    .list-post .list-title {
      color: var(--clr-light);
      font-weight: 600;
      font-size: 24px;
    }

    /* div class="list-img" */
    .list-post .list-img {
      margin-right: 20px;
    }

    .list-post .list-img,
    .list-post .list-details {
      display: inline-block;
      width: 48%;
    }

    @media (max-width: 959px) {
      .list-post .list-img,
      .list-post .list-details {
        width: 100%;
      }
    }

    /* a */

    /* img */
    .list-post .list-img img {
      margin: 20px 0 0;
      width: 100%;
      height: auto;
    }

    /* div class="list-details" */
    .list-post .list-details {
      vertical-align: top;
      margin-top: 20px;
    }
    @media (max-width: 959px) {
      .list-post .list-details {
        margin-top: 0;
      }
    }

    /* div class="list-summary" */

    /* div */

    /* div class="tag-list" */

    .tag-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      font-weight: bold;
      gap: 0.5rem;
    }

    /* span class="tag" */

    .tag {
      color: var(--clr-light);
      padding: 5px 15px;
      border-radius: 25px;
    }

    /* div class="copy-to-clipboard" */
    .copy-to-clipboard {
      display: flex;
      justify-content: center;
      position: relative;

      color: var(--clr-light);
      background-color: var(--clr-dark);
      border-radius: 10px;
      margin: 2rem 0;
      padding: 0.5rem 0;
    }

    /* ul class="utility-list" */

    .utility-list {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      justify-content: space-around;
      margin: 0.5rem 0 1.5rem 0;
    }

    /* a class="btn" */

    .btn {
      display: block;
      padding: 0.75em;
      text-align: center;
    }

    .btn i {
      margin-left: 0.5rem;
    }

    .btn:hover {
      transform: scale(1.05);
    }
  </style>
</Layout>
