---
import { type CollectionEntry } from "astro:content";
import Icon from "astro-icon";

type Props = {
  project: CollectionEntry<"project">;
  lazyLoading?: boolean;
};

const { project, lazyLoading = false } = Astro.props as Props;
const { image, badge, mainTech, title } = project.data;
---

<div class="card">
  <a href={`/project/${project.slug}`} class="card__link">
    <div class="card__image-wrapper">
      <img
        src={image}
        alt="project card"
        class="card__image"
        loading={lazyLoading ? "lazy" : "eager"}
      />
    </div>
    <div class="card__badge">
      {
        badge === "New" && (
          <p class="portfolio__item-badge portfolio__item-badge--new">
            New &#9734;
          </p>
        )
      }
      {
        (badge === "Updated" || badge === "In Progress") && (
          <p class="portfolio__item-badge">{badge} &#9734;</p>
        )
      }
    </div>
    <div class="card__title">
      <p>{title}</p>
    </div>
  </a>
  <a href={`/project/${project.slug}`} class="card__info">
    <div class="card__info-tech">
      <Icon name={`icon${mainTech}`} width="24" height="24" />
      <p>{mainTech}</p>
    </div>
    <div class="card__info-more">
      <p>Details</p>
      <Icon name="iconArrowRight" width="20" height="20" />
    </div>
  </a>
</div>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* --------------- */
  /* Component        */
  /* --------------- */
  /* div class="card" */
  .card {
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  /* div class="card__link" */
  .card__link {
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  /* div class="card__image-wrapper" */
  .card__image-wrapper {
    overflow: hidden;
    border-radius: 1rem;
  }

  /* img class="card__image" */
  img.card__image {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    color: transparent;
    aspect-ratio: 1/1;
    transition: transform 0.1s ease;
  }

  .card__link:hover img.card__image {
    transform: scale(1.07);
  }

  /* div class="card__badge" */

  /* div class="portfolio__item-badge portfolio__item-badge--new" */
  .portfolio__item-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--clr-accent);
    color: #fff;
    border: 2px solid var(--clr-light);
    font-size: var(--fs-reverse-small);
    font-weight: var(--fw-bold);
    padding: 2px 10px;
    border-radius: 20px;
  }

  .portfolio__item-badge--new {
    background: var(--clr-gradient);
    color: var(--clr-light);
  }

  /* svg */
  svg {
    background-color: var(--clr-light);
    border-radius: 50%;
    border: 1px solid var(--clr-light);
  }

  /* div class="portfolio__item-badge" */

  /* div class="card__title" */
  .card__title {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 33.3333%;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.5)
    );
    padding: 1rem;
    font-weight: 600;
    color: var(--clr-light);

    width: 100%;
    font-size: var(--fs-reverse-h3);
    line-height: 1.75rem;
  }

  .card__link:hover .card__title {
    display: flex;
  }

  /* p */
  .card__title p {
    width: 100%;
    text-align: left;
  }

  /* a class="card__info" */

  .card__info {
    margin-top: 0.75rem;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: var(--fs-reverse-small);
    line-height: 1.25rem;

    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.1s ease;
  }

  /* div class="card__info-tech" */
  .card__info-tech {
    gap: 0.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  /* p */
  .card__info-tech p {
    color: var(--clr-light);
  }

  /* div class="card__info-more" */
  .card__info-more {
    gap: 0.75rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: transform 0.1s ease;
  }

  .card__info:hover .card__info-more,
  .card__link:hover + .card__info .card__info-more {
    transform: scale(1.07);
  }

  /* p */
  .card__info-more p {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
  }
</style>
