---
const { Content, frontmatter } = Astro.props;
const {
  stylizedTitle,
  stylizedSubtitle,
  imageSquare,
  imageBanner,
  storeLink,
  githubLink,
  storePassword,
  shortIntro,
} = frontmatter;
---

<!-- Introduction -->
<section class="intro">
  <h1 class="section__title section__title--intro">
    <Fragment set:html={stylizedTitle} />
  </h1>
  <p class="section__subtitle section__subtitle--intro">
    {stylizedSubtitle}
  </p>
  <img src={imageSquare} alt="description of a project" class="intro__img" />
</section>

<div class="portfolio-item-individual">
  <div>
    <a href={storeLink} target="_blank">Visit the site</a>
    <strong
      >Store password:
      <span style="color: #635da8; text-decoration: underline"
        >{storePassword}</span
      >
    </strong>
    <a class="github-link" href={githubLink} target="_blank">GitHub Repo</a>
  </div>
  <Fragment set:html={shortIntro} />
  <a href={storeLink} target="_blank" class="no-after">
    <img src={imageBanner} />
  </a>
  <Content />
</div>
