---
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/Pagination.astro";
import Card from "../../components/Card.astro";
import { getCollection, CollectionEntry } from "astro:content";
import { formatProjects } from "../../js/utils.js";

export async function getStaticPaths({ paginate }) {
  const projects = await getCollection("project");
  const formattedProjects = formatProjects(projects);

  return paginate(formattedProjects, {
    pageSize: 40,
  });
}

type Props = {
  page?: {
    data: CollectionEntry<"project">[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: {
      current: string | undefined;
      next: string | undefined;
      prev: string | undefined;
    };
  };
};

const { page } = Astro.props as Props;
const {
  url: { prev: prevUrl, next: nextUrl },
  currentPage,
  lastPage,
} = page;
const path = "/projects";
---

<Layout title="Projects">
  <section class="my-work">
    <div class="page-width">
      <h2 class="section__title section__title--work">All Projects</h2>
      <Pagination {prevUrl} {nextUrl} {currentPage} {lastPage} {path} />
      <p class="section__subtitle section__subtitle--work"></p>
      <div class="projects-grid">
        {page.data.map((project) => <Card {project} lazyLoading={true} />)}
      </div>
    </div>
  </section>
  <Pagination {prevUrl} {nextUrl} {currentPage} {lastPage} {path} />
</Layout>

<style>
  /* section class="my-work page-width" id="work" */
  .my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
  }

  /* h2 class="section__title section__title--work" */

  .section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
  }

  /* a class="btn" */
  .btn {
    margin-bottom: 4em;
  }

  /* svg */

  .btn svg {
    vertical-align: middle;
    transform: translateY(-1px);
  }

  /* div class="projects-grid" */
  .projects-grid {
    margin-top: 2.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
  }

  @media (min-width: 640px) {
    .projects-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 1280px) {
    .projects-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  /* Media Queries */

  @media screen and (min-width: 550px) {
    section.my-work {
      padding: 2em 2em;
    }
  }
</style>
